# dependencies
node_modules/

# build
.next/
out/
dist/

# env
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# prisma
*.db
*.db-journal

# generated
src/generated/
